<h2>Нахождение наибольшего общего делителя и наименьшего общего кратного двух целых чисел</h2>

<%= form_with url: show_path do |form| %>
    <%= form.label :numbers, "Введите целое число 1: " %>
    <%= form.number_field :number1%> <br>
    <%= form.label :numbers, "Введите целое число 2: " %>
    <%= form.number_field :number2 %> <br>
    <%= form.submit "Submit", id: 'btn' %>
  <% end %>
  
<div id='show-container'></div>