<p style="color: green" id="notice"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p id=<%= "#{user.username}" %> >
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>
<p> ________________________ </p>
<%= link_to "New user", new_user_path %>
<br><br>
<%= link_to 'Back to sessions', new_session_path%>
