<!DOCTYPE html>
<html>
  <head>
    <title>Lap9App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      #itr_row {
        background-color: #DBF2E8
      }
      .main_elements {
        background-color: #ADF3C4
      }
    </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
