<%= form_with model: user do |form| %>
    <div class="mt-4">
        <% if user.errors[:username].any? %>
            <div class="error-message fst-italic">
                <% user.errors[:username].each do |error| %>
                    <div><%= error %></div>
                <% end %>
            </div>
        <% end %>
        <%= form.label (t('user.username') + ':') %>
        <%= form.text_field :username, class: 'form-control', placeholder: t('user.username') %>
    </div>
    <div class="mt-2">
        <% if user.errors[:avatar].any? %>
            <div class="error-message fst-italic">
                <% user.errors[:avatar].each do |error| %>
                    <div><%= error %></div>
                <% end %>
            </div>
        <% end %>
        <%= form.label (t('user.avatar') + ':') %>
        <%= form.file_field :avatar, class: 'form-control' %>
    </div>
    <div class="mt-4">
        <% if user.errors[:email].any? %>
            <div class="error-message fst-italic">
                <% user.errors[:email].each do |error| %>
                    <div><%= error %></div>
                <% end %>
            </div>
        <% end %>
        <%= form.label (t('user.email')) %>
        <%= form.email_field :email, class: 'form-control', placeholder: 'email@example.com' %>
    </div>
    <div class="mt-4">
        <% if user.errors[:password].any? %>
            <div class="error-message fst-italic">
                <% user.errors[:password].each do |error| %>
                    <div><%= error %></div>
                <% end %>
              </div>
        <% end %>
        <%= form.label (t('user.password') + ':') %>
        <%= form.password_field :password, class: 'form-control', placeholder: t('user.password') %>
    </div>
    <div class="mt-4">
        <%= form.label (t('user.password_conf')) %>
        <%= form.password_field :password_confirmation, class: 'form-control', placeholder: t('user.password') %>
    </div>
    <div class="mt-4">
        <%= form.submit value: t('users.new.create'), class: 'btn btn-primary col-md-12'%>
    </div>
<% end %>