<h2>Результаты работы программы:</h2>
<table>
    <tr>
        <th rowspan = "2" style = "border-bottom: 2px solid black"> Введённые данные </th>
        <td> Число 1  </td>
        <td> Число 2 </td>
    </tr>
    <tr>
        <td style = "border-bottom: 2px solid black"> <%= @num1 %> </td>
        <td style = "border-bottom: 2px solid black"> <%= @num2 %> </td>
    </tr>
    <tr>
        <th colspan = "3"> Нахождение наибольшего общего делителя алгоритмом Евклида </th>
    </tr>
    <tr>
        <td> № итерации </td>
        <td> Число 1 </td>
        <td> Число 2 </td>
    </tr>
    <% @iterations.each.with_index(1) do |numbers, index| %>
        <tr>
            <td> <%= index %> </td>
            <td> <%= numbers[0] %> </td>
            <td> <%= numbers[1] %> </td>
        </tr>
    <% end %>
    <tr>
        <td colspan = "2" style = "text-align: right; border-top: 2px solid black"> Наибольший общий делитель: </td>
        <th id = "gcd" style = "border-top: 2px solid black"> <%= @gcd %> </th>
    </tr>
    <tr>
        <td colspan = "2" style = "text-align: right"> Наименьшее общее кратное: </td>
        <th id = "lcm" > <%= @lcm %> </th>
    </tr>
</table>
<br>
<%= link_to "Вернуться назад", root_path %>